############################
# Non important C# Scripts #
############################
scrap_code.cs

############################
#    User-specific files   #
############################
*.suo
*.user
*.userosscache
*.sln.docstates

############################
#      Build results       #
############################
[Dd]ebug/
[Rr]elease/
x64/
[Bb]in/
[Oo]bj/

############################
#  Visual C/C# cache files  #
############################
ipch/
*.aps
*.ncb
*.opensdf
*.sdf
*.cachefile
*.ide*
.vs/


############################
#  	  Grafana   	   #
############################
IntegrationTools/


############################
#  	  Packages 	   #
############################
packages/
LoadTesting/load_testing/
LoadTesting/LoadTesting/docs/
LoadTesting/LoadTesting/__pycache__/
############################
#  	 Screenshots	   #
############################

############################
#  	  Archive	   #
############################
Archive/

############################
#  	    Logs	   #
############################
LoadTesting/LoadTesting/Logs/
Scripts/logs/
############################
#  	   Python	   #
############################
*.pyc
env/
Scripts/docs/

############################
#  	   Misc 	   #
############################
ThinkSmartQA.sln.DotSettings.user
Pages/obj/Debug/Pages.csproj.CoreCompileInputs.cache
Utilities/obj/Debug/Utilities.csproj.CoreCompileInputs.cache
*.cache
WorkflowTests/App.config
Utilities/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Scripts/jsonfiles/*.json
############################
#  	Screenshots	   #
############################
screenshots/
*.ps1.log
Reports/
*.orig
